In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv('dataset.csv')

In [3]:
movies_new=pd.read_csv('datasetnew.csv')

In [4]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [5]:
movies_new.head()

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0

In [6]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [7]:
movies_new.describe()

,Unnamed: 0,ID,Year,Netflix,Hulu,Prime Video,Disney+,Type
count,9515.000000,9515.000000,9515.000000,9515.000000,9515.000000,9515.000000,9515.000000,9515.0
mean,4757.000000,4758.000000,2007.422386,0.388334,0.110037,0.432265,0.096900,0.0
std,2746.888239,2746.888239,19.130367,0.487397,0.312952,0.495417,0.295837,0.0
min,0.000000,1.000000,1914.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,2378.500000,2379.500000,2006.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,4757.000000,4758.000000,2015.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,7135.500000,7136.500000,2018.000000,1.000000,0.000000,1.000000,0.000000,0.0
max,9514.000000,9515.000000,2021.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [9]:
movies_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9515 non-null   int64
 1   ID               9515 non-null   int64
 2   Title            9515 non-null   object
 3   Year             9515 non-null   int64
 4   Age              5338 non-null   object
 5   Rotten Tomatoes  9508 non-null   object
 6   Netflix          9515 non-null   int64
 7   Hulu             9515 non-null   int64
 8   Prime Video      9515 non-null   int64
 9   Disney+          9515 non-null   int64
 10  Type             9515 non-null   int64
dtypes: int64(8), object(3)
memory usage: 817.8+ KB

In [10]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [11]:
movies_new.isnull().sum()

Unnamed: 0            0
ID                    0
Title                 0
Year                  0
Age                4177
Rotten Tomatoes       7
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
Type                  0
dtype: int64

In [12]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [13]:
movies_new.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type'],
      dtype='object')

In [14]:
movies_new.rename(columns={'ID': 'id', 'Title': 'title'}, inplace=True)

In [15]:
merged_data = pd.merge(movies, movies_new, on='id')

In [16]:
merged_data.head()

,id,title_x,genre,original_language,overview,popularity,release_date,vote_average,vote_count,Unnamed: 0,title_y,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,277,The Bank Job,2008,18+,76/100,1,0,0,0,0
1,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,237,Trixie Mattel: Moving Parts,2019,NaN,77/100,1,0,0,0,0
2,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,423,Cowspiracy: The Sustainability Secret,2014,NaN,72/100,1,0,0,0,0
3,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,239,Evelyn,2019,NaN,77/100,1,0,0,0,0
4,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093,128,Captain Fantastic,2016,18+,82/100,1,0,0,0,0

In [17]:
def get_available_platforms(row):
    platforms = []
    if row['Netflix'] == 1:
        platforms.append('Netflix')
    if row['Hulu'] == 1:
        platforms.append('Hulu')
    if row['Prime Video'] == 1:
        platforms.append('Prime Video')
    if row['Disney+'] == 1:
        platforms.append('Disney+')
    return ', '.join(platforms)

In [18]:
merged_data['platforms'] = merged_data.apply(get_available_platforms, axis=1)

In [19]:
print(merged_data.columns)

Index(['id', 'title_x', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count', 'Unnamed: 0', 'title_y',
       'Year', 'Age', 'Rotten Tomatoes', 'Netflix', 'Hulu', 'Prime Video',
       'Disney+', 'Type', 'platforms'],
      dtype='object')

In [20]:
merged_data['tags'] = merged_data['overview'] + " " + merged_data['genre']

In [21]:
final_data = merged_data[['id', 'title_x', 'overview', 'genre', 'platforms', 'tags']]

In [22]:
final_data.to_csv('final_movie_data.csv', index=False)

In [23]:
final_data = merged_data[['id', 'title_x', 'overview', 'genre', 'platforms']]
print("Shape of final_data:", final_data.shape)

Shape of final_data: (2151, 5)

In [24]:
print(final_data.head())

    id                   title_x  \
0  278  The Shawshank Redemption
1  238             The Godfather
2  424          Schindler's List
3  240    The Godfather: Part II
4  129             Spirited Away

                                            overview  \
0  Framed in the 1940s for the double murder of h...
1  Spanning the years 1945 to 1955, a chronicle o...
2  The true story of how businessman Oskar Schind...
3  In the continuing saga of the Corleone crime f...
4  A young girl, Chihiro, becomes trapped in a st...

                      genre platforms
0               Drama,Crime   Netflix
1               Drama,Crime   Netflix
2         Drama,History,War   Netflix
3               Drama,Crime   Netflix
4  Animation,Family,Fantasy   Netflix

In [25]:
final_data.columns

Index(['id', 'title_x', 'overview', 'genre', 'platforms'], dtype='object')

In [26]:
final_data.loc[:, 'tags'] = final_data['id'].astype(str) + ' ' + final_data['title_x'] + ' ' + final_data['genre'] + ' ' + final_data['platforms']

C:\Users\HP\AppData\Local\Temp\ipykernel_13580\635617416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data.loc[:, 'tags'] = final_data['id'].astype(str) + ' ' + final_data['title_x'] + ' ' + final_data['genre'] + ' ' + final_data['platforms']

In [27]:
final_data = final_data.copy()

In [28]:
print("Shape of final_data:", final_data.shape)

Shape of final_data: (2151, 6)

In [29]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
cv=CountVectorizer(max_features=1000000, stop_words='english')

In [32]:
cv

CountVectorizer(max_features=1000000, stop_words='english')

In [33]:
vector = cv.fit_transform(final_data['tags'].astype(str)).toarray()

In [34]:
vector.shape

(2151, 4621)

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity=cosine_similarity(vector)

In [37]:
similarity

array([[1.        , 0.54772256, 0.3086067 , ..., 0.12909944, 0.12909944,
        0.25819889],
       [0.54772256, 1.        , 0.3380617 , ..., 0.14142136, 0.14142136,
        0.28284271],
       [0.3086067 , 0.3380617 , 1.        , ..., 0.        , 0.        ,
        0.23904572],
       ...,
       [0.12909944, 0.14142136, 0.        , ..., 1.        , 0.7       ,
        0.2       ],
       [0.12909944, 0.14142136, 0.        , ..., 0.7       , 1.        ,
        0.1       ],
       [0.25819889, 0.28284271, 0.23904572, ..., 0.2       , 0.1       ,
        1.        ]])

In [38]:
new_data = pd.DataFrame({
    'id': [1, 2, 3],  # Example IDs
    'title': ['The Godfather', 'The Dark Knight', 'Pulp Fiction'],
    'genre': ['Crime', 'Action', 'Drama'],
    'platform': ['Netflix', 'Hulu', 'Prime Video']  # Example platforms
})

In [39]:
index = new_data[new_data['title'] == "The Godfather"].index[0]

In [40]:
index

0

In [41]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3 non-null      int64
 1   title     3 non-null      object
 2   genre     3 non-null      object
 3   platform  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 228.0+ bytes

In [42]:
def recommend(movie_name):
    movie_name = movie_name.lower()
    
    # Check if the movie exists in the dataset
    if not final_data['title_x'].str.lower().isin([movie_name]).any():
        return f"Movie '{movie_name}' not found in the dataset."
    
    # Get the index of the movie
    index = final_data[final_data['title_x'].str.lower() == movie_name].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

    recommended_movies = []
    for i in distances[1:6]:  # Skip the first, as it's the same movie
        try:
            recommended_movies.append(final_data.iloc[i[0]]['title_x'])
        except IndexError:
            # Handle index out-of-bounds gracefully
            continue
    
    return recommended_movies

In [43]:
print("Recommended movies for 'Iron Man':", recommend('Iron Man'))

Recommended movies for 'Iron Man': ['Superman', 'Stargate', 'Transformers', 'Tron', 'Dune']

In [44]:
user_ratings = pd.DataFrame(columns=['user_id', 'movie_id', 'rating'])

In [45]:
def rate_movie(user_id, movie_id, rating):
    global user_ratings
    # Use pd.concat instead of append
    new_rating = pd.DataFrame({'user_id': [user_id], 'movie_id': [movie_id], 'rating': [rating]})
    user_ratings = pd.concat([user_ratings, new_rating], ignore_index=True)
    print(f"User {user_id} rated movie {movie_id} with a rating of {rating}")

In [46]:
def get_movie_ratings(movie_id):
    # Get all ratings for a specific movie
    movie_ratings = user_ratings[user_ratings['movie_id'] == movie_id]
    if len(movie_ratings) == 0:
        return "No ratings available for this movie yet."
    avg_rating = movie_ratings['rating'].mean()
    return avg_rating

In [47]:
rate_movie(1, 2, 4.5)
rate_movie(3, 2, 3.0)
rate_movie(2, 1, 5.0)

User 1 rated movie 2 with a rating of 4.5
User 3 rated movie 2 with a rating of 3.0
User 2 rated movie 1 with a rating of 5.0

C:\Users\HP\AppData\Local\Temp\ipykernel_13580\1382382951.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  user_ratings = pd.concat([user_ratings, new_rating], ignore_index=True)

In [48]:
print("Movie 2's average rating:", get_movie_ratings(2))

Movie 2's average rating: 3.75

In [49]:
user_profiles = {}

In [50]:
def create_user_profile(user_id, username):
    user_profiles[user_id] = {'username': username, 'rated_movies': {}}
    print(f"User profile created for {username}.")

In [51]:
def update_user_profile(user_id, movie_id, rating):
    if user_id in user_profiles:
        user_profiles[user_id]['rated_movies'][movie_id] = rating
        print(f"User {user_profiles[user_id]['username']} rated movie {movie_id} with {rating}.")
    else:
        print("User not found.")

In [52]:
create_user_profile(1, 'John Doe')

User profile created for John Doe.

In [53]:
update_user_profile(1, 2, 4.5)

User John Doe rated movie 2 with 4.5.

In [54]:
import pickle

In [55]:
pickle.dump(final_data, open('movies_list.pkl', 'wb'))

In [56]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [57]:
pickle.dump(user_ratings, open('user_ratings.pkl', 'wb'))

In [58]:
pickle.dump(user_profiles, open('user_profiles.pkl', 'wb'))

In [59]:
from IPython.display import Image, display

In [60]:
def display_movie_posters(movie_titles):
    for title in movie_titles:
        movie = final_data[final_data['title_x'] == title]
        if not movie.empty:
            poster_url = movie['poster_url'].values[0]  # Adjust based on actual column name
            display(Image(url=poster_url, width=300, height=450))

In [61]:
pip install request

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement request (from versions: none)
ERROR: No matching distribution found for request

In [62]:
pip install requests

Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.32.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.8.30)

In [63]:
import requests

In [64]:
API_KEY = '661b51c48f8ad54992b6683b278e6a09'

In [65]:
TMDB_API_BASE = 'https://api.themoviedb.org/3'

In [66]:
def get_poster_url(movie_id):
    url = f'{TMDB_API_BASE}/movie/{movie_id}'
    params = {
        'api_key': API_KEY ,
        'language': 'en-US'
    }

In [67]:
response = requests.get(url, params=params)

NameError: name 'url' is not defined